<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Share your knowledge with peer and partners">
    <meta name="author" content="Javier Caballero">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>tyrachinas: Share your knowledge</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Bootstrap framework -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="main" style="background-image: url('static/img/background.jpg')">
    <div class="cover" data-color="green"></div>
    <div class="container">
      <h1 class="logo cursive">
        Tyrachinas
      </h1>

      <div class="content">
        <h4 class="motto">Share knowledge between peers around the globe</h4>
        <div class="sendit">
          {% include "_messages.html" %}
          <h5 class="info-text">
            Fill in the form to &quot;send&quot; a  file to a fellow
          </h5>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
              {% from "_formhelpers.html" import render_field, render_email_field, render_file_field %}
              <form class="form-horizontal" role="form" method="POST" action="{{ url_for('root.resources') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ render_file_field(form.attachment, class="form-control transparent", accept=formats)|safe }}
                {{ render_field(form.description, class="form-control transparent", placeholder="Short description here...")|safe }}
                {{ render_email_field(form.email_owner, class="form-control transparent", placeholder="Your email address")|safe }}
                {{ render_email_field(form.email_receiver, class="form-control transparent", placeholder="Receiver email")|safe }}
                <button type="submit" class="btn btn-primary btn-fill">Send it!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        Made with <i class="fa fa-heart heart"></i> by Paxet.
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $('#attachment').change(function(){
     $('#attachment_text').val($(this).val());
   });
  </script>
</body>
</html>
