<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Share your knowledge with peer and partners">
    <meta name="author" content="Javier Caballero">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>tyrachinas: Share your knowledge</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Bootstrap framework -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
              <img src="{{ url_for('static', filename='img/flags/ES.png') }}"/>
              Español(ES) 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/DE.png') }}"/> Deutsch</a></li>
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/GB.png') }}"/> English(UK)</a></li>
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/US.png') }}"/> English(US)</a></li>
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/FR.png') }}"/> Français</a></li>
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/IT.png') }}"/> Italiano</a></li>
                
              <li class="divider"></li>
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/BR.png') }}"/> Português <span class="label label-default">soon</span></a></li>
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/JP.png') }}"/> 日本語 <span class="label label-default">soon</span></a></li>
              <li><a href="#"><img src="{{ url_for('static', filename='img/flags/TR.png') }}"/> Türkçe <span class="label label-default">soon</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"> 
              <i class="fa fa-facebook-square"></i>
              Share
            </a>
          </li>
          <li>
            <a href="#"> 
              <i class="fa fa-twitter"></i>
                Tweet
            </a>
          </li>
          <li>
            <a href="#"> 
              <i class="fa fa-envelope-o"></i>
                Email
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <div class="main" style="background-image: url('static/img/background.jpg')">
    <div class="cover green" data-color="green"></div>
    {% include "_messages.html" %}
    <div class="container">
      <h1 class="logo cursive">
        Tyrachinas
      </h1>
        
    <div class="content">
        <h4 class="motto">Share knowledge between peers around the globe</h4>
      <div class="subscribe">
        <h5 class="info-text">
          Fill in the form to &quot;send&quot; a  file to a fellow
        </h5>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
            {% from "_formhelpers.html" import render_field, render_field_nolabel %}
            <form class="form-inline" role="form" method="POST" action="{{ url_for('root.new') }}" enctype="multipart/form-data">
                <dl class="form-group">
                    {{ form.hidden_tag() }}
                    <label>Choose a File</label>
                    <!-- {{ render_field(form.attachment)|safe }} -->
<input id="attachment" name="attachment" type="file" style="display:none">
<div class="input-append">
<input id="photoCover" class="input-large" type="text">
<a class="btn" onclick="$('input[id=attachment]').click();">Browse</a>
</div>
 
<script type="text/javascript">
$('input[id=attachment]').change(function() {
$('#photoCover').val($(this).val());
});
</script>
                    {{ render_field(form.description, class="form-control transparent", placeholder="Short description here...")|safe }}
                    {{ render_field(form.email_owner, class="form-control transparent", placeholder="Your email address")|safe }}
                    {{ render_field(form.email_receiver, class="form-control transparent", placeholder="Your fellow email")|safe }}
                    <button type="submit" class="btn btn-primary btn-fill">Send it!</button>
                </dl>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
      <div class="footer">
        <div class="container">
            Made with <i class="fa fa-heart heart"></i> by Paxet.
        </div>
      </div>
    </div>
  </body>
  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
