.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.flashes {
  background: #CEE5F5;
  color: green;
  border-radius: 5px 5px 5px 5px;
  padding: 0.5em 1em;
  border: 1px solid #AACBE2;
  width:45%;
  margin-left: 23%;
  font-size: larger;
}

.flashes li {
  margin-left: 10px;
}

.flashes .message {
  color: green;
}

.flashes .info {
  color: darkgreen;
}

.flashes .warning {
  color: orange;
}

.flashes .error {
  color: red;
}

ul.error {
  color: red;
}

.main{
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}
.cover{
    position: fixed;
    opacity: 1;
    background-color: rgba(0,0,0,.6);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(3, 28, 7, 0.6);
}
.blur{
  opacity:0;
}
.logo-container{
    left: 50px;
    position: absolute;
    top: 20px;
     z-index: 3;
}
.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}
.main .logo{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 300;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    margin-top: 150px;
    z-index: 3;
}
.main .logo.cursive{
    font-family: 'Grand Hotel',cursive;
    font-size: 82px;

}
.main .content{
    position: relative;
    z-index: 4;
}
.main .motto{
    min-height: 140px;
}
.main .motto, .main .sendit .info-text{
    font-size: 28px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    text-align: center;
    margin-top: 50px;

}
.main .sendit .info-text{
    font-size: 18px;
    margin-bottom: 30px;
}
.footer{
    position: relative;
    bottom: 20px;
    right: 0px;
    width: 100%;
    color: #AAAAAA;
    z-index: 4;
    text-align: right;
    margin-top: 50px;
}
.footer a{
    color: #FFFFFF;
}
.footer .heart{
    color: #FF3B30;
}

@media (min-width:219px){
    .main .sendit .form-group{
        width: auto;
    }
    .main .sendit .form-inline .btn{
        width: 100%;
    }
}
@media (min-width:768px){
    .main .sendit .form-inline .btn{
        width: auto;
    }
}
@media (min-width:991px){
    .main .sendit .form-group{
        width: 190px;
    }
    .footer{
        position: fixed;
        bottom: 20px;
    }
}
@media (min-width:1200px){
    .main .sendit .form-group{
        width: 250px;
    }
}
/*a{
    color: #2C93FF;
}
a:hover, a:focus {
    color: #1084FF;
}
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline : 0;
}
*/
